async-timeout
atomicwrites==1.4.0
attrs
Automat
autopep8
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
bitarray
bkcharts==0.2
black==19.10b0
bleach
blinker==1.9.0
bokeh
boto3
botocore
Bottleneck
brotlipy==0.7.0
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
colorcet
conda==22.9.0
conda-build==3.21.8
conda-content-trust
conda-pack
conda-package-handling
conda-repo-cli
conda-token
conda-verify==3.4.2
constantly==15.1.0
cookiecutter
cryptography
cssselect==1.1.0
cycler
Cython
cytoolz==0.11.0
daal4py==2021.5.0
dask
datashader
datashape==0.5.4
debugpy
decorator
defusedxml
diff-match-patch
dill
distlib==0.3.8
distributed
docstring_parser==0.16
docutils
echo
entrypoints
et-xmlfile==1.1.0
executing
fast-histogram
fastjsonschema
filelock==3.15.4
flake8
Flask
flatbuffers==25.1.24
fonttools==4.25.0
frozenlist
fsspec
future
gensim
gitdb==4.0.12
GitPython==3.1.44
glob2
glue-core
glue-vispy-viewers==0.12.2
gmpy2
google-api-core==2.24.0
google-auth==2.38.0
google-cloud-aiplatform==1.78.0
google-cloud-bigquery==3.29.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.14.0
google-cloud-storage==2.19.0
google-crc32c
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
greenlet
grpc-google-iam-v1==0.14.0
grpcio==1.70.0
grpcio-status==1.70.0
h5py
HeapDict
holoviews
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
importlib-metadata
incremental
inflection==0.5.1
iniconfig
install==1.3.5
intake

intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jax==0.4.30
jaxlib==0.4.30
jdcal
jedi
Jinja2
jinja2-time
jmespath
joblib
json5
jsonschema
keyring
kiwisolver
lazy-object-proxy
libarchive-c
llvmlite==0.38.0
locket
lxml
Markdown
markdown-it-py==3.0.0
MarkupSafe
matplotlib
matplotlib-inline
matplotlib-venn==0.11.7
mccabe==0.6.1
mdurl==0.1.2
mediapipe==0.10.20
mpmath==1.2.1
msgpack
multidict
multipledispatch
munkres==1.1.4
mypy-extensions==0.4.3
narwhals==1.23.0
navigator-updater==0.2.1
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
nose
notebook
numba
numexpr
numpy==1.26.4
numpydoc
olefile
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
openpyxl
opt_einsum==3.4.0
packaging==24.0
pandas==1.4.4
pandocfilters
panel
param
parsel
parso
partd
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
pexpect
pickleshare
Pillow==9.0.1
pkginfo
platformdirs==4.2.2
plotly
pluggy
poyo
prometheus-client
prompt_toolkit==3.0.45
Protego
proto-plus==1.25.0
protobuf==5.29.3
psutil
ptyprocess
pure-eval
pwinput==1.0.3
py
pyarrow==19.0.0
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat==0.6.3
pycparser
pyct
pycurl==7.44.1
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
PyDispatcher==2.0.5
pydocstyle
pyerfa
pyflakes 
pygame==2.6.1
Pygments==2.19.1
PyHamcrest 
PyJWT 
pylint
pyls-spyder==0.4.0
pyodbc 
PyOpenGL==3.1.1a1
pyOpenSSL 
pyparsing 
pyrsistent 
PySocks 
pytest==7.1.1
python-dateutil 
python-lsp-black 
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify 
python-snappy 
pytz==2021.3
pyviz-comms 
PyWavelets 
PyYAML==6.0
pyzmq
rich
requests
requests-file
rope
rsa
Rtree
ruamel-yaml-conda
s3transfer
scikit-image
scikit-learn
scikit-learn-intelex
scipy
Scrapy
Send2Trash
sentencepiece
service-identity
shapely
sip
six
smart-open
smmap
sortedcollections
sortedcontainers
sounddevice
stack-data
statsmodels
streamlit
tables
tabulate
TBB
tenacity
terminado
testpath
text-unidecode
textdistance
tinycss
tldextract
toml
tomli
toolz
tornado
ujson
virtualenv
webencodings
websocket-client
